@font-face {
  font-family: "Mona Sans";
  src: url("src/assets/fonts/Mona Sans/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("src/assets/fonts/Mona Sans/Mona-Sans.woff2") format("woff2-variations");
  fontweight: 200 900;
  fontstretch: 75% 125%;
}

svg {
  color: var(--Icon-color);
  margin: var(--Icon-margin);
  font-size: var(--Icon-fontSize, inherit);
  width: 1em;
  height: 1em;
}
:root {
  --joy-fontFamily-body: "Mona Sans",var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol");
  --joy-fontFamily-display: var(--joy-fontFamily-body);
}
